
node_modules
.env
.DS_Store
*.log
logs
*.local


dist
dist-ssr
build
coverage

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


frontend/node_modules
frontend/dist
frontend/.env.local


backend/node_modules
backend/dist
backend/.env

Thumbs.db
*.tmp
*.bak
